footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    height: 60px;
    width: 100%;
}
